/*gradientowe tło */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, #1b2735, #090a0f);
  overflow: hidden;
  height: 100vh;
  color: white;
}

h1, h2 {
  text-align: center;
}

.container {
  position: relative;
  z-index: 1; /*tekst i treść aplikacji */
}

/*styl dla tabeli */
table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  background-color: #1b2735; /*ciemne tło tabeli */
  color: white;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th {
  padding: 12px;
  border: 1px solid #333;
  background-color: #4CAF50; /*zielone nagłówki*/
  color: rebeccapurple;
  text-align: left;
}

td {
  background-color: #1b2735 !important;
}


/*podświetlenie wiersza po najechaniu */
tr:hover {
  background-color: #333;/*kolor podśweitlenia */
}

